## pandas 라이브러리
### Series와 DataFrame 클래스가 제공됨
#### '#'의 개수가 적을수록 글꼴 크기가 크다
### Series - 1차원 벡터 데이터에 행방향 인덱스를 붙인것
### DataFrame - 2차원 행과 열의 형태로 표현되는 것

In [1]:
import pandas as pd
# 리스트를 사용해서 Series 생성
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# 딕셔너리를 이용한 Series 생성
dic = {'100':'남', '101':'여', '102':'',  '103':'남'}
gender = pd.Series(dic)
gender

100    남
101    여
102
103    남
dtype: object

In [8]:
name = pd.Series({'100':'이산하', '101':'강하늘', '102':'김산', '103':'안전해'})
name

100    이산하
101    강하늘
102     김산
103    안전해
dtype: object

In [9]:
# DataFrame 사용
회원 = pd.DataFrame({
     '회원번호':['100', '101', '102', '103'],
    '성별':['남','여','', '남'],
    '이름':['이산하', '강하늘', '김산', '안전해']
})
회원

  회원번호 성별   이름
0  100  남  이산하
1  101  여  강하늘
2  102      김산
3  103  남  안전해

In [19]:
회원 = pd.DataFrame({
    '회원번호':['100', '101', '102', '103'],
    '성별':['남','여','', '남'],
    '이름':['이산하', '강하늘', '김산', '안전해']
})
회원 = 회원.set_index('회원번호')
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102       김산
103   남  안전해

In [11]:
회원['성별'] == '여'

0    False
1     True
2    False
3    False
Name: 성별, dtype: bool

In [12]:
회원[회원['성별'] == '여']

  회원번호 성별   이름
1  101  여  강하늘

### 값 변경하기
### loc - location(위치)
### iloc 속성 - integer location(정수위치)[0][1]

In [20]:
회원.loc['102']['이름'] = '송중기'
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102      송중기
103   남  안전해

In [22]:
회원.iloc[2][0] = '남'
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102   남  송중기
103   남  안전해

## csv 파일로 저장하기
### csv(comma seperated value) - 쉼표로 구분된 값
### pandas에 제공되는 함수 - to_csv()함수 : 파일 생성
### read_csv() : 파일 읽기

In [23]:
회원.to_csv("./datas/회원명부.csv")

In [24]:
pd.read_csv("./datas/회원명부.csv")
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102   남  송중기
103   남  안전해